<!-- <body id="bg"> -->
<!-- <html class="bg"> -->
  <div class="background">
    <div class="bg">
      <form class="registration-form">
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="First Name" [formControl]="fnameFormControl">
          <mat-error *ngIf="fnameFormControl.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Last Name" [formControl]="lnameFormControl">
          <mat-error *ngIf="lnameFormControl.hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Username" [formControl]="usernameFormControl">
          <mat-error *ngIf="!usernameFormControl.hasError('minLength') || !usernameFormControl.hasError('maxLength')">
            Username must be 2-20 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
          <mat-error *ngIf="!passwordFormControl.hasError('minLength') || !passwordFormControl.hasError('maxLength')">
            Password must be 3-20 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" [formControl]="confirmPasswordFormControl">
          <mat-error *ngIf="!confirmPasswordFormControl.hasError('required')">
            Passwords don't match
          </mat-error>
        </mat-form-field>
        <button style="border-radius:10px" mat-raised-button color="primary" (click)="register()">Register</button>
      </form>
    </div>
    <!-- cat code -->
    <div id="cats">
      <img class="cat" id="blue" src="https://goo.gl/CU1QpY" alt="" />
      <img class="cat" id="gray" src="https://goo.gl/YsiIDx" alt="" />
      <img class="cat" id="yellow" src="https://goo.gl/a6tFK5" alt="" />
    </div>
  
    <!-- chat bubble -->
    <div class="circular-sb">
      Please fill out the form
      <br>
      We'll validate your input...
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
  
  
  <!-- </html> -->
  <!-- </body> -->