<div class="wrapper">
  <!-- <div class="nav-container"> -->
  <div class="nav-container">
    <nav class="navbar navbar-expand-lg header">
      <a routerLink="../Dashboard">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Tomcat-logo.svg/2000px-Tomcat-logo.svg.png"
          height="36" />
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      </div>
      <button mat-mini-fab class="matbtn" (click)="sidenav.open()">
        <fa name="users"></fa>
      </button>
      <button mat-mini-fab class="matbtn" routerLink="../Dashboard">
        <fa name="comments"></fa>
      </button>
      <button mat-mini-fab class="matbtn" routerLink="../Profile">
        <fa name="cogs"></fa>
      </button>
      <a class="navbtn" (click)="logout()" routerLink="">
        <fa name="sign-out"></fa>
      </a>
    </nav>
  </div>
</div>

<mat-sidenav-container (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <app-friends-list></app-friends-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container">
      <div class="chatbox">
        <div class="top-bar">
          <div class="name">{{t.username}}</div>
        </div>
        <div class="outgoing" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let message of messages">
            <div class="bubble" *ngIf="this.message.messageUserId == this.user.uId" style="margin-left: 90%;">{{message.message}}</div>
            <div class="bubble1" *ngIf="this.message.messageUserId != this.user.uId">{{message.message}}</div>
          </div>
        </div>
        <div class="bottom-bar">
          <mat-form-field class="chat-input">
            <input matInput #inputMessage maxlength="140" placeholder="your message" [(ngModel)]="message"
              (keyup.enter)="sendMessage(message)">
            <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>