<div class='left'>
  <div class='cat'>
    <div class='ears1'></div>
    <div class='head1'>
      <div class='eyes1'></div>
      <div class='nose1'></div>
    </div>
    <div class='body1'>
      <div class='left-paw1'></div>
      <div class='right-paw1'></div>
    </div>
    <div class='tail1'></div>
    <div class='PRlaptop'>
      <div class='PRscreen'></div>
      <div class='PRkeyboard'></div>
    </div>
  </div>
</div>
<div class='right'>
  <div class='dog'>
    <div class='ears2'></div>
    <div class='head2'>
      <div class='eyes2'></div>
      <div class='nose2'></div>
    </div>
    <div class='body2'>
      <div class='left-paw2'></div>
      <div class='right-paw2'></div>
    </div>
    <div class='tail2'></div>
    <div class='ORlaptop'>
      <div class='ORscreen'></div>
      <div class='ORkeyboard'></div>
    </div>
  </div>
</div>








<div class="loginbody">
  <div class="logincard">
    <div class="inputcontainer">
      
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Username">
      </mat-form-field>
      <!-- <input type="text" class="inputbox" placeholder="Username"> -->
    </div>

    <div class="inputcontainer">
      <!-- <fa name="unlock-alt"></fa> -->
      <mat-form-field style="width: 100%">
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <!-- <input type="password" class="inputbox" placeholder="Password"> -->
    </div>

    <button mat-raised-button color="primary" class="loginbtn">Login</button>
    <button mat-raised-button color="accent" class="registerbtn">Register</button>
    <br><br>

    <!-- <div *ngIf="message" class="alert alert-danger">{{message}}</div>
    <div *ngIf="!isValid" class="alert alert-danger" id="formError">
      User Info Incorrect! Please try again
    </div> -->
  </div>
</div>